/** General styling **/
body {
    background-color: #F8F8F8;
}

body,
input,
button {
    font: 1em "Open Sans", sans-serif;
    color: #4D4E53;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #4D4E53;
}

/* List */
.list {
    background-color: #fff;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.list .header {
    font-family: "Amatic SC", cursive;
    margin: 0 0 10px 0;
}

/* Tasks */
.tasks {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tasks .task.done {
    text-decoration: line-through;
}

.tasks li,
.task-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

/** Input field **/
.input:focus {
    outline:none;
}

.input {
    width: 100%;
}

/** Done button & Delete button */
.tasks .done-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #5d9c67;
    color: #000;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

.tasks .delete-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #77525c;
    color: #000;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

.tasks li:hover .done-button,
.tasks li:hover .delete-button {
    opacity: 1;
    cursor: pointer;
}

/* Submit button */
.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}

.submit-hover {
    cursor: pointer;
    background-color: #ddd;
    color: #fff;
    box-shadow: 3px 3px 0 #ccc;
}